.header{
    text-align: center;
}

.logo{
    height: 50px;
}

.header nav {
    background-color: black;
    line-height: 50px;
    text-align: left;
}

.header nav a{
    text-decoration: none;
    margin-right: 20px;
    padding: 12px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.header nav a:hover{
    background-color: lightgray;
    color:#f83c03
}